#chat-screen {
  background-color: #abc1d1;
  height: 100vh;
}
.status-bar__chat {
  background-color: #abc1d1;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  top: 0px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}
#chat-screen .alt-header {
  z-index: 1;
}
#chat-screen .status-bar {
  z-index: 2;
}

@keyframes fadeIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__time-stamp {
  animation: fadeIn 0.5s linear;
}

@keyframes fadeIn-left {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.message-row--you {
  transform: translateX(-180px);
  animation: fadeIn-right 0.2s linear forwards;
  animation-delay: 1s;
}

.chat__time-stamp {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 25px;
  color: white;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 35%;
  margin-right: 15px;
}

.message__author {
  opacity: 0.8;
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}
.message__bubble {
  background-color: white;
  padding: 13px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}
.message__time {
  font-size: 12px;
  opacity: 0.8;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

@keyframes fadeIn-right {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.message-row--own span {
  transform: translateX(150px);
  animation: fadeIn-right 0.2s linear forwards;
  animation-delay: 1.8s;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.reply i {
  opacity: 0.5;
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
}
.reply__column {
  position: relative;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -15px;
  top: 2px;
}

.reply input {
  padding-left: 15px;
  height: 30px;
  width: 100%;
  border: var(--opacity-border);
  border-radius: 20px;
  transform: transition all 0.3s ease-in-out;
}

.reply__column:last-child > i {
  right: 30px;
  top: 10px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.reply__column button i {
  opacity: 1;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-laugh,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-laugh,
.reply:focus-within button {
  opacity: 0;
}
.reply:focus-within input {
  width: 95vw;
  transform: translateX(-12%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
